* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    background: linear-gradient(135deg, #374d63 0%, #4ecdc4 100%);
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}



.hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hero h1 span{
    color: #ffd700;
}

textarea {
    width:600px;
    height: 250px;
    background: rgba(255, 255, 255, 0.1);
    color: #eeeeee;
    padding: 20px;
    border: 1px solid #9ed0d1;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    resize: none;
}

textarea::placeholder {
    color: #ccc;
    font-size: 16px;
}

.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #ffd700; 
    color: #2c3e50; 
    border: 0;
    outline: 0;
    padding: 12px 30px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    
}

button img{
    width: 16px;
    margin-right: 10px;
}



select {
    flex:1;
    background: #698f8c;
    color: #eeeeee;
    height: 50px;
    padding: 0 20px;
    border: 0;
    outline: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url("images/dropdown.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    
}


